#header{
    display: flex;
    justify-content:space-between;
    padding: 3vh 3vw;
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    height: max(60px,13vh);
    background: linear-gradient(to right,rgb(10, 39, 133),rgb(255, 61, 61),rgb(120, 10, 172)80%);
    border-bottom: 1px solid rgba(104, 99, 99, 0.808);
    
    align-items: center;

    z-index: 1200;
    box-sizing: border-box;

     
} 
.nav{
    display: none;
    flex-direction: column;
    width: 200px;
    justify-content:flex-start;
    gap: 4vh;
    padding-top: 4vh;
    align-items: end;
    position: fixed;
    top:max(60px,13vh);
    
    bottom:0;
    right:-200px;
    background-color: rgb(46, 46, 46);
    box-sizing: border-box;
    border-left: 1px solid rgb(92, 91, 91);
    transition: transform 0.3s ease-in-out;

}

.nav img{
    width: 5vh;
    min-width: 30px;
    align-self: center;
    justify-self: center;
}
.nav-button{
    display: none;
    background-color: transparent;
    height: max(30px,8vh);
    width: max(30px,8vh);
    border: none;
    border-radius: 50%;
    
}
.nav-button:hover{
    background-color: rgba(255, 255, 255, 0.212);
}
.nav-button:active{
    background-color: rgba(255, 255, 255, 0.363);
}

.nav-button img{
    height: max(18px,6vh);
}


@media(width <= 760px){
    #header #right-header{
        display: none;
    }
    .nav-button{
        display: initial;
    }
   #header #left-header img{
     height: max(30px,8vh);
    }
    .nav{
        display: flex;
    }
    #coins div{
    border: none;
}

}


#left-header img{
    height: max(30px,9vh);
}
#left-header{
   min-width: 10vw;
}


#right-header{
   display: flex;
   justify-content:flex-end;
   align-items: center;
   gap: 1vw; 
   width:40vw ; 
}

input{
    width: 30vw;
    padding-left:1rem;
    border-radius: 10px;
    background-color: rgb(59, 59, 59);
    border:none;
    font-size: 1.5rem;
    color: white;
    
}

.your-name{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}


.sign-in{
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    padding:0.4em 1em ;
    font-weight: bold;
    white-space: nowrap;
   
}


.basket-button,.contact-button{
    padding: 0.5em;
    border-radius: 50%;
    border:none;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    display: flex;

}
.basket-button,
.contact-button{
     transition: transform 0.1s,background-color 0.1s   ;
}
.basket-button:hover,.contact-button:hover,.sign-in:hover{
    background-color:rgba(255, 255, 255, 0.24);
}
.basket-button:active,.contact-button:active,.sign-in:active{
    background-color:rgba(255, 255, 255, 0.425);
    transform: scale(0.9);
}

.contact-links{
    background-color: rgb(65, 65, 65);
     
    position:fixed;
    top:max(60px,13vh);
    right: 8.5vw;
    display: flex;
    flex-direction: column;
    padding: 3ch;
    color: white;
    visibility: hidden;
    z-index: -1;
     
    
}
.nav-contact-links{

    display: flex;
    flex-direction: column;
    padding: 2ch;
    color: white;
    visibility: hidden;
    z-index: -1;
    border: 1px solid rgb(83, 81, 81);
     
    
}

.contact-links div{
    display: flex;
    flex-direction:row;
    gap: 3ch;
}



#right-header img{
    width: 5vh;
    min-width: 30px;
    align-self: center;
    justify-self: center;
}
#coins{
    display: flex;
    justify-content: center;
    box-sizing: content-box;
}
.your-coins{
    min-width: 20vw;
    border:2px solid black;
    font-size: 2rem;
    background-color: white;
}

#add-coins-button{
   height: 40px;
   width: 40px;
   border:2px solid black;
   border-left: none;
   background-color: rgb(255, 251, 28);
   display: flex;
   justify-content: center;
   align-items: center;
   cursor:pointer ;
}



#add-coins-button:active{
    background-color: rgb(204, 255, 18);
}
#add-coins-button img{
    height: 30px;
    width: 30px;
}
.notE-box{
    position:absolute;
    bottom: -60px;
    width: 100vw;
    z-index: 1000;
    display: flex;
    justify-content: center;

}
#notE{
    color: hsl(0, 100%, 50%);
    background-color: rgb(49, 49, 49);
    border-radius: 5px;
    width:18ch;
    font-size: 3rem;
    font-weight: bold;
    padding-left: 1ch;
}
.nav-element{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    color: rgb(172, 172, 172);
}




