footer{
  background: linear-gradient(to right,rgb(255, 61, 61),rgb(10, 39, 133),rgb(120, 10, 172)80%);

  height: 20vh;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
footer img{
    height: 18vh;
}