
.header{
    display:flex;
    justify-content: space-between;
    position:fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 18vh;
    background: linear-gradient(to right,rgb(10, 39, 133),rgb(255, 61, 61),rgb(120, 10, 172)80%);
    z-index: 1000;
}
 
.left-header{
  display: flex;
  flex: 2;
  align-items: center;
  margin-left:5vw ;
}
.left-header img{
    height: 80%;

}
.right-header{
    display: flex;
    flex: 1;
    justify-content:space-between;
    align-items: center;
    margin-right: 4vw;
    min-width: 300px;
    max-width: 450px;
}
.contact-btn{
    padding: 0.5em;
    border-radius: 50%;
    border:none;
    cursor: pointer;
    background-color:transparent;
    position: relative;
    display: flex;

}
.contact-btn img{
    width: 5vh;
    min-width: 30px;
    align-self: center;
    justify-self: center;
}

.home-btn:link{
    text-decoration: none;
}
.profile-btn,
.home-btn{
    background-color:transparent;
    padding: 0.5em 1em;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.08s;
}

.home-btn:hover,
.profile-btn:hover,
.contact-btn:hover{
   background-color: rgba(255, 255, 255, 0.192);
}
.home-btn:active,
.profile-btn:active,
.contact-btn:active{
    transform: scale(0.9);
    background-color: rgba(255, 255, 255, 0.315);
}

